@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #4fc685;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  height: 4rem;
  margin-bottom: 1rem;
  background-color: #95b0a1;
  border-radius: 8px;
  box-shadow: 0 -4px 6px -6px rgba(0, 0, 0, 0.4);
}

.wrapper {
  background: #253239;
  width: 90vw;
  max-width: 23rem; 
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
  border-bottom: 10px solid #3c4447;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background: #d8dbdd;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid #fff;
}

.button:hover {
  border: 2px dotted #242424;
}

.equals {
  background: #d8901b;
  border-bottom: 5px solid #ff9900;
}

.opt {
  background: #d8dbdd;
  border-bottom: 5px solid #fff;
}


@media (max-width: 500px) {
  .screen {
    font-size: 1rem;
  }
  .button {
    font-size: 1rem;
    padding: 5px;
  }
}
